
.menu-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: #f9f9f9;
  }
  
  .menu-content {
    flex-grow: 1;
    text-align: center;
  }
  
  .menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .menu-item {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    width: 45%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
.menu-content h1 {
    color: #4C0507;
    font-family: "SeoulNamsan CBL", sans-serif;
    font-size: 4rem; /* Increased font size to 2rem */
    margin-bottom: 10px;
}

.menu-content p {
    font-family: "Sitara", sans-serif;
    line-height: 2;
    padding-left: 200px;
    padding-right: 200px;
    font-size: 1.2rem; /* Increased font size to 1.2rem */
}

  .menu-content img {
    /* kecilkan size */
    max-width: 1000px;
    padding-bottom: 50px;
  }
  
  
  .menu-item p {
    font-size: 1rem;
    color: #333;
  }

  .menu-footer {
    background-color: #edafb1;
    align-items: center;
    width: 100%;
  }